<div class="nav__menu__item">
    <a id="vl-meet-btn" class="nav__menu__item__link" href="#">
        <div class="nav__menu__item__icon">
            <img alt="vl-icon" width="30px" src="/upl/e9btuqkk0owdtwmaxinjdlqrwxepxkndosnd4bom/1/widget/images/icon.png">
        </div>
        <div style="color: #aab0b6;" class="nav__menu__item__title">
            Встреча
        </div>
    </a>
</div>

